nav {
    background-color: lightblue;
    position: fixed; /*fix it to your screen*/
    top: 0px;
    left: 0px;
    width: 100vw; /*vw is view window*/
    height: 50px;

}

nav ul li{
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;
}

nav ul{
    text-align: right;
}

form {
    color: yellow;
    position: fixed;
    align-content: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left:150px;
}